<!-- views/partials/branding.ejs -->

<div id="branding">
<h1 class="logo"><a href="#" title="Breaking news">&lt; Magazine /&gt;</a></h1>
<ul class="topNav">
 <li><a href="/" >FRONT PAGE</a></li>
 <li><a href="/newmessage" >WRITE A MESSAGE</a></li>
 <li><a href="guestbook">GUESTBOOK</a></li>


 </ul><br class="clear" />
</div>
