<!-- views/partials/contant.ejs -->

<div id="contant">
 <div class="contant_1">
<div class="contant_1_left">
 <h2>
    Welcome to the Wonderland..
   </h2>
 <img src="images/c1_i1.png" width="277" height="266" alt="" class="kuva" style="box-shadow: 5px 5px 3px grey;"/>
 <h3><%= content_title %></h3> <!-- make use of EJS variable -->
 <br class="clear bottomClear" />
 <p class="teksti"><%= content_text %><br /><br /></p> <!-- make use of EJS variable -->

 </div>
<div class="sideBar">
 <div class="sideBarListBox" style="box-shadow: 5px 5px 3px grey;">
  <img src="images/sideBarListBoxTop.png" alt="" width="240" height="10" />
  <ul>
      <li><a href="#" >Can</a></li>
      <li><a href="#">You</a></li>
  <li><a href="#">See</a></li>
  <li><a href="#">Me</a></li>
  <li><a href="#">At</a></li>
  <li><a href="#">All</a></li>
  <li><a href="#">Or</a></li>
  <li><a href="#">Not?</a></li>

     </ul>
  <img src="images/sideBarListBoxBottom.png" alt="" width="240" height="10" />
 </div>

<div>

 </div>
 </div>
 <br class="clear" />
</div>
</div>
